<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/charlie/Documents/Development/_libs/cpp/of_v0.8.0_osx_release/algo2012/week1/4_rectangleInterpolatePowfMultiple/4_rectangleInterpolatePowfMultiple.xcodeproj</string>
</dict>
</plist>
